CD Application/App_WebReferences/Warehouse/GRNInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5001/WareHouseApplicationWebservice/GRNInformation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRNCancellationRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRNCancellationRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGRNCancellationRequestsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveGRNCancellationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GRNID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApprovedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApprovedTimeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveGRNCancellationRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectGRNCancellationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GRNID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RejectedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RejectedTimeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectGRNCancellationRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectGRNCancellationRequest2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GRNID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RejectedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RejectedTimeStamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectGRNCancellationRequest2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRNCancellationRequestSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="WarehouseID" type="q1:guid" />
        <xs:element minOccurs="0" name="Status" type="xs:int" />
        <xs:element minOccurs="0" name="GRNNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateRequested" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateRequested2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateApproved" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateApproved2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRNCancellationRequestSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGRNCancellationRequestSearchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRNsForCancellation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="WarehouseID" type="q2:guid" />
        <xs:element minOccurs="0" name="GRNNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRNsForCancellationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGRNsForCancellationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>