CD Application/App_WebReferences/Warehouse/GRNInformation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GRNInformation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/WareHouseApplicationWebservice/GRNInformation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/WareHouseApplicationWebservice/GRNInformation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/WareHouseApplicationWebservice/GRNInformation.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGRNInformation_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_GetGRNCancellationRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGRNCancellationRequests" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_GetGRNCancellationRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGRNCancellationRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_ApproveGRNCancellationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveGRNCancellationRequest" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_ApproveGRNCancellationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveGRNCancellationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_RejectGRNCancellationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectGRNCancellationRequest" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_RejectGRNCancellationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectGRNCancellationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_RejectGRNCancellationRequest2_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectGRNCancellationRequest2" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_RejectGRNCancellationRequest2_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectGRNCancellationRequest2Response" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_GetGRNCancellationRequestSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGRNCancellationRequestSearch" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_GetGRNCancellationRequestSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGRNCancellationRequestSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_GetGRNsForCancellation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGRNsForCancellation" />
  </wsdl:message>
  <wsdl:message name="IGRNInformation_GetGRNsForCancellation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGRNsForCancellationResponse" />
  </wsdl:message>
  <wsdl:portType name="IGRNInformation">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IGRNInformation/DoWork" message="tns:IGRNInformation_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGRNInformation/DoWorkResponse" message="tns:IGRNInformation_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGRNCancellationRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IGRNInformation/GetGRNCancellationRequests" message="tns:IGRNInformation_GetGRNCancellationRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGRNInformation/GetGRNCancellationRequestsResponse" message="tns:IGRNInformation_GetGRNCancellationRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveGRNCancellationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGRNInformation/ApproveGRNCancellationRequest" message="tns:IGRNInformation_ApproveGRNCancellationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGRNInformation/ApproveGRNCancellationRequestResponse" message="tns:IGRNInformation_ApproveGRNCancellationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectGRNCancellationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGRNInformation/RejectGRNCancellationRequest" message="tns:IGRNInformation_RejectGRNCancellationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGRNInformation/RejectGRNCancellationRequestResponse" message="tns:IGRNInformation_RejectGRNCancellationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectGRNCancellationRequest2">
      <wsdl:input wsaw:Action="http://tempuri.org/IGRNInformation/RejectGRNCancellationRequest2" message="tns:IGRNInformation_RejectGRNCancellationRequest2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGRNInformation/RejectGRNCancellationRequest2Response" message="tns:IGRNInformation_RejectGRNCancellationRequest2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGRNCancellationRequestSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGRNInformation/GetGRNCancellationRequestSearch" message="tns:IGRNInformation_GetGRNCancellationRequestSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGRNInformation/GetGRNCancellationRequestSearchResponse" message="tns:IGRNInformation_GetGRNCancellationRequestSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGRNsForCancellation">
      <wsdl:input wsaw:Action="http://tempuri.org/IGRNInformation/GetGRNsForCancellation" message="tns:IGRNInformation_GetGRNsForCancellation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGRNInformation/GetGRNsForCancellationResponse" message="tns:IGRNInformation_GetGRNsForCancellation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGRNInformation" type="tns:IGRNInformation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IGRNInformation/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGRNCancellationRequests">
      <soap:operation soapAction="http://tempuri.org/IGRNInformation/GetGRNCancellationRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveGRNCancellationRequest">
      <soap:operation soapAction="http://tempuri.org/IGRNInformation/ApproveGRNCancellationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectGRNCancellationRequest">
      <soap:operation soapAction="http://tempuri.org/IGRNInformation/RejectGRNCancellationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectGRNCancellationRequest2">
      <soap:operation soapAction="http://tempuri.org/IGRNInformation/RejectGRNCancellationRequest2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGRNCancellationRequestSearch">
      <soap:operation soapAction="http://tempuri.org/IGRNInformation/GetGRNCancellationRequestSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGRNsForCancellation">
      <soap:operation soapAction="http://tempuri.org/IGRNInformation/GetGRNsForCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GRNInformation">
    <wsdl:port name="BasicHttpBinding_IGRNInformation" binding="tns:BasicHttpBinding_IGRNInformation">
      <soap:address location="http://localhost:5001/WareHouseApplicationWebservice/GRNInformation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>