ECX.CD.BL/Web References/ECXPRML/PRMLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://prml/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PRMLService" targetNamespace="http://prml/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.1.5.11:8080/ECXWRFWS-war/PRMLService?xsd=1" namespace="http://prml/" />
    </xsd:schema>
  </types>
  <message name="getAllPRML">
    <part name="parameters" element="tns:getAllPRML" />
  </message>
  <message name="getAllPRMLResponse">
    <part name="parameters" element="tns:getAllPRMLResponse" />
  </message>
  <message name="getPRMLRequestByBank">
    <part name="parameters" element="tns:getPRMLRequestByBank" />
  </message>
  <message name="getPRMLRequestByBankResponse">
    <part name="parameters" element="tns:getPRMLRequestByBankResponse" />
  </message>
  <message name="authorisePRML">
    <part name="parameters" element="tns:authorisePRML" />
  </message>
  <message name="authorisePRMLResponse">
    <part name="parameters" element="tns:authorisePRMLResponse" />
  </message>
  <portType name="PRML">
    <operation name="getAllPRML">
      <input message="tns:getAllPRML" />
      <output message="tns:getAllPRMLResponse" />
    </operation>
    <operation name="getPRMLRequestByBank">
      <input message="tns:getPRMLRequestByBank" />
      <output message="tns:getPRMLRequestByBankResponse" />
    </operation>
    <operation name="authorisePRML">
      <input message="tns:authorisePRML" />
      <output message="tns:authorisePRMLResponse" />
    </operation>
  </portType>
  <binding name="PRMLPortBinding" type="tns:PRML">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getAllPRML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPRMLRequestByBank">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="authorisePRML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PRMLService">
    <port name="PRMLPort" binding="tns:PRMLPortBinding">
      <soap:address location="http://10.1.5.11:8080/ECXWRFWS-war/PRMLService" />
    </port>
  </service>
</definitions>