ECX.CD.BL/Web References/ECXForeclosure/transferTitleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://transferTitle/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="transferTitleService" targetNamespace="http://transferTitle/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.1.5.11:8080/ECXWRFWS-war/transferTitleService?xsd=1" namespace="http://transferTitle/" />
    </xsd:schema>
  </types>
  <message name="getAllTransferTitle">
    <part name="parameters" element="tns:getAllTransferTitle" />
  </message>
  <message name="getAllTransferTitleResponse">
    <part name="parameters" element="tns:getAllTransferTitleResponse" />
  </message>
  <message name="getTransferTitleByBank">
    <part name="parameters" element="tns:getTransferTitleByBank" />
  </message>
  <message name="getTransferTitleByBankResponse">
    <part name="parameters" element="tns:getTransferTitleByBankResponse" />
  </message>
  <message name="authoriazeTranseferTitleResponce">
    <part name="parameters" element="tns:authoriazeTranseferTitleResponce" />
  </message>
  <message name="authoriazeTranseferTitleResponceResponse">
    <part name="parameters" element="tns:authoriazeTranseferTitleResponceResponse" />
  </message>
  <portType name="transferTitle">
    <operation name="getAllTransferTitle">
      <input message="tns:getAllTransferTitle" />
      <output message="tns:getAllTransferTitleResponse" />
    </operation>
    <operation name="getTransferTitleByBank">
      <input message="tns:getTransferTitleByBank" />
      <output message="tns:getTransferTitleByBankResponse" />
    </operation>
    <operation name="authoriazeTranseferTitleResponce">
      <input message="tns:authoriazeTranseferTitleResponce" />
      <output message="tns:authoriazeTranseferTitleResponceResponse" />
    </operation>
  </portType>
  <binding name="transferTitlePortBinding" type="tns:transferTitle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getAllTransferTitle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTransferTitleByBank">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="authoriazeTranseferTitleResponce">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="transferTitleService">
    <port name="transferTitlePort" binding="tns:transferTitlePortBinding">
      <soap:address location="http://10.1.5.11:8080/ECXWRFWS-war/transferTitleService" />
    </port>
  </service>
</definitions>