ECX.CD.BL/Service References/ECXTradingPRML/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Trade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ECXTrade.Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrade_GetTradeOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeOrders" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_CNSCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:CNSCompleted" />
  </wsdl:message>
  <wsdl:message name="ITrade_CNSCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:CNSCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeDetails" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrade">
    <wsdl:operation name="GetTradeOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrade/GetTradeOrders" message="tns:ITrade_GetTradeOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrade/GetTradeOrdersResponse" message="tns:ITrade_GetTradeOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CNSCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrade/CNSCompleted" message="tns:ITrade_CNSCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrade/CNSCompletedResponse" message="tns:ITrade_CNSCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrade/GetTradeDetails" message="tns:ITrade_GetTradeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrade/GetTradeDetailsResponse" message="tns:ITrade_GetTradeDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpBinding" type="tns:ITrade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTradeOrders">
      <soap:operation soapAction="http://tempuri.org/ITrade/GetTradeOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CNSCompleted">
      <soap:operation soapAction="http://tempuri.org/ITrade/CNSCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeDetails">
      <soap:operation soapAction="http://tempuri.org/ITrade/GetTradeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Trade">
    <wsdl:port name="basicHttpBinding" binding="tns:basicHttpBinding">
      <soap:address location="http://ecx-newmis-011.ecx.com:5001/TradeService/Trade.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>